<h1>Editing post</h1>

<!--<%= debug(@hero) %>-->

<%= form_for :hero, :url => { :action => :update, :id => @hero.id }, :method => :put do |f| %>
  <% if @hero.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@hero.errors.count, "error") %> prohibited
      this post from being saved:</h2>
    <ul>
    <% @hero.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name , value:@hero.name %>
  </p>
  <p>
    <%= f.label :powers %><br>
    <%= f.text_field :powers  ,value: @hero.powers %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Back', :action => :index %>